---
import 'remixicon/fonts/remixicon.css';
import InitTimer from '../components/InitTimer.astro';
import Skeleton from '../components/Skeleton.astro';
import Logo from '../components/Logo.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Timers | labtools.trevfox.dev</title>
	</head>
	<body class="bg-dark-950">
		<nav
			class="mb-4 flex h-10 w-full items-center justify-around bg-dark-900"
		>
			<Logo />
			<div class="hidden" id="counter" data-counter="0"></div>
			<button
				id="global-start"
				class="mr-2 rounded-full bg-dark-500 px-4 py-1 font-mono"
				><i class="ri-play-large-fill mr-2"></i>Start All</button
			>
			<button
				id="global-pause"
				class="mr-2 rounded-full bg-dark-500 px-4 py-1 font-mono"
				><i class="ri-pause-fill ri-lg mr-2"></i>Pause All</button
			>
			<button
				id="global-stop"
				class="mr-2 rounded-full bg-dark-500 px-4 py-1 font-mono"
				><i class="ri-stop-large-fill mr-2"></i>Stop All</button
			>
		</nav>
		<section id="timers" class="flex flex-wrap justify-start px-8">
			<InitTimer />
			<timer-slot></timer-slot>
			<Skeleton />
		</section>
		<script is:inline>
			document
				.getElementById('global-start')
				.addEventListener('click', () => {
					document.dispatchEvent(new Event('global-start'));
				});
			document
				.getElementById('global-pause')
				.addEventListener('click', () => {
					document.dispatchEvent(new Event('global-pause'));
				});
			document
				.getElementById('global-stop')
				.addEventListener('click', () => {
					document.dispatchEvent(new Event('global-stop'));
				});
		</script>
	</body>
</html>
