---
import 'remixicon/fonts/remixicon.css';
import InitTimer from '../components/InitTimer.astro';
import Skeleton from '../components/Skeleton.astro';
import Logo from '../components/Logo.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>Timers | labtools.trevfox.dev</title>
	</head>
	<body class="bg-dark-950">
		<nav
			class="mb-4 flex h-10 w-full items-center justify-around bg-dark-900 w500:mb-8"
		>
			<Logo />
			<div class="hidden" id="counter" data-counter="0"></div>
			<button
				id="global-delete"
				class="mr-2 rounded-full bg-dark-600 px-4 py-1 font-mono text-rose-400 hover:bg-dark-700 w500:hidden"
				><i class="ri-delete-bin-fill mr-2"></i>DELETE All</button
			>
			<button
				id="global-start"
				class="mr-2 rounded-full bg-dark-600 px-4 py-1 font-mono text-green-400 hover:bg-dark-700 w500:hidden"
				><i class="ri-play-large-fill mr-2"></i>Start All</button
			>
			<button
				id="global-pause"
				class="mr-2 rounded-full bg-dark-600 px-4 py-1 font-mono text-yellow-400 hover:bg-dark-700 w500:hidden"
				><i class="ri-pause-fill ri-lg mr-2"></i>Pause All</button
			>
			<button
				id="global-stop"
				class="mr-2 rounded-full bg-dark-600 px-4 py-1 font-mono text-red-300 hover:bg-dark-700 w500:hidden"
				><i class="ri-stop-large-fill mr-2"></i>Stop All</button
			>
			<button
				id="global-delete-mobile"
				class="mr-2 hidden aspect-square w-8 rounded-full bg-dark-700 p-1 w500:flex items-center justify-center font-mono text-rose-400"
				><i class="ri-delete-bin-fill"></i></button
			>
			<button
				id="global-start-mobile"
				class="mr-2 hidden aspect-square w-8 rounded-full bg-dark-700 p-1 font-mono text-green-400 w500:flex items-center justify-center"
				><i class="ri-play-large-fill ml-0.5"></i></button
			>
			<button
				id="global-pause-mobile"
				class="mr-2 hidden aspect-square w-8 rounded-full bg-dark-700 p-1 font-mono text-yellow-400 w500:flex items-center justify-center"
				><i class="ri-pause-fill ri-lg"></i></button
			>
			<button
				id="global-stop-mobile"
				class="mr-2 hidden aspect-square w-8 rounded-full bg-dark-700 p-1 font-mono text-red-300 w500:flex items-center justify-center"	
				><i class="ri-stop-large-fill"></i></button
			>
		</nav>
		<section
			id="timers"
			class="flex flex-wrap justify-start px-8 w500:flex-col w500:items-center"
		>
			<InitTimer />
			<Skeleton />
		</section>
		<script is:inline>
			document
				.getElementById('global-delete-mobile')
				.addEventListener('click', () => {
					document.dispatchEvent(new Event('delete-all-timers'));
				});
			document
				.getElementById('global-start-mobile')
				.addEventListener('click', () => {
					document.dispatchEvent(new Event('global-start'));
				});
			document
				.getElementById('global-pause-mobile')
				.addEventListener('click', () => {
					document.dispatchEvent(new Event('global-pause'));
				});
			document
				.getElementById('global-stop-mobile')
				.addEventListener('click', () => {
					document.dispatchEvent(new Event('global-stop'));
				});
			document
				.getElementById('global-delete')
				.addEventListener('click', () => {
					document.dispatchEvent(new Event('delete-all-timers'));
				});
			document
				.getElementById('global-start')
				.addEventListener('click', () => {
					document.dispatchEvent(new Event('global-start'));
				});
			document
				.getElementById('global-pause')
				.addEventListener('click', () => {
					document.dispatchEvent(new Event('global-pause'));
				});
			document
				.getElementById('global-stop')
				.addEventListener('click', () => {
					document.dispatchEvent(new Event('global-stop'));
				});
		</script>
	</body>
</html>
