---
export interface Props {
	title: string;
	['ri-icon']?: string;
	href: string;
}
const { title, 'ri-icon': riIcon, href } = Astro.props;
---

<a {href}><div id="skeleton" class="w-80 px-4">
	<div class="mb-4 h-full w-full rounded-lg hover:bg-dark-800 transition-colors bg-dark-900 p-2 text-dark-200 pb-4">
		<div
			id="title-bar"
			class="mb-4 flex justify-center rounded-md bg-dark-600 pl-3 pr-2"
		>
			<i class={`ri-${riIcon}-fill mr-2`}></i>
			<h1 class="text-center font-mono font-bold">{title}</h1>
			<i class={`ri-${riIcon}-fill ml-2`}></i>
		</div>
		<div class="px-2 font-mono text-white">
			<slot />
		</div>
	</div>
</div></a>
