---
import Logo from './Logo.astro';
---

<nav class="mb-4 flex h-10 w-full items-center justify-around bg-dark-900">
    <Logo />
    <a class="mr-2 rounded-full bg-dark-500 px-4 py-1 font-mono" href="/timers"
        ><i class="ri-timer-fill mr-2"></i>Timers</a
    >
    <a
        class="mr-2 rounded-full bg-dark-500 px-4 py-1 font-mono"
        href="/smiles-fetcher"><i class="ri-hexagon-fill mr-2"></i>SMILES</a
    >
    <a
        class="mr-2 rounded-full bg-dark-500 px-4 py-1 font-mono"
        href="/equimolarizer"><i class="ri-flask-fill mr-2"></i>Equimolarizer</a
    >
</nav>
