<div id="skeleton" class="h-44 w-80 px-4">
	<div class="mb-4 h-full w-full rounded-lg bg-dark-900 p-2 text-dark-200">
		<div
			id="title-bar"
			class="mb-6 flex justify-between rounded-md bg-dark-600 pl-3 pr-2"
		>
			<h1 class="font-bold">Timer n</h1>
			<span id="initial-time-indicator" class="font-mono ml-auto mr-2 text-dark-300"
				>--:--:--</span
			>
			<button
				id="mini-button"
				class="ri-checkbox-blank-circle-fill hover:ri-user-smile-line hover:text-green-200"
			></button>
		</div>
		<div class="flex flex-col items-center justify-center">
			<h1 class="font-mono font-bold">New Timer</h1>
			<button
				class="mt-2 aspect-square w-12 rounded-full bg-dark-600 hover:bg-dark-500"
				id="new-timer-button"><i class="ri-add-fill ri-xl"></i></button
			>
		</div>
	</div>
</div>
<script is:inline defer>
	const addButton = document.getElementById('new-timer-button');
	const miniButton = document.getElementById('mini-button');
	const skeleton = document.getElementById('skeleton');
	addButton.addEventListener('click', () => {
		skeleton.insertAdjacentHTML('beforebegin', '<timer-slot></timer-slot>');
	});
	miniButton.addEventListener('click', () => {
		skeleton.insertAdjacentHTML('afterend', '<timer-slot></timer-slot>');
	});
	const currentStorage = JSON.parse(window.localStorage.getItem('timers'));
	currentStorage && currentStorage.forEach(item => {
		skeleton.insertAdjacentHTML('beforebegin', `<timer-slot id="${item.id}" initial=${item.initalTime} group="${item.group}" title="${item.title}"></timer-slot>`);
	})
</script>
